
<div class="container">
    <div class="row">
    <h1>Editing Comment</h1>

    <%= render 'form', comment: @comment %>


    <%= link_to 'Show', @comment %> |
    <%= link_to 'Back', product_path(@product) %>

    </div>
</div>

