
<div class="wrapper">
    <% for product in products %>
        <div class="product_container">
            <% if user_signed_in? %>
                <%= link_to image_tag(product.picture), product_path(product) %>
                <%= render "general/favourite", product: product %>
            <% else %>
                <%= link_to image_tag(product.picture), product_path(product) %>
            <% end %>
        </div>
    <% end %>
</div>