
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Homepage</title>
  
</head>

<body>

  <!-- Partial Search-bar -->
  <!-- Partial Categorize -->
  <div class="container">
  <%= render 'searchbar' %>
  <%= render 'categorize' %>
 

  <!-- Page Content -->

    <div class="post-show row">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <% image_tag (product.picture), class:"main-image" %>
          <% end %>
          <% if user_signed_in? %>
            <%= render "general/favourite", product: product %>
          <% end %>
        <% end %>
      </div>
    </div>
  
</body>
</html>