
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Homepage</title>
  
</head>

<body>

  <!-- Partial Search-bar -->
  <!-- Partial Categorize -->
  <div class="container">
  <%= render 'searchbar' %>
  <%= render 'categorize' %>
  </div>


<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-sm">
   
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <% image_tag (product.picture) %>
        <% end %>
        <% if user_signed_in? %>
          <%= render "general/favourite", product: product %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>




</body>
</html>