<div class="container">
    <div class="row">
    <div class="col">
        <h3>Followings.</h3>
        <% for profile in @following_profiles%>
        <div class="followings_box">
        <%= render "general/profile_container", user: profile %>
        <%= render "general/product_grid", products: select_items(collection: profile.products, num_of_items: 3) %>
        </div>
    <hr>
    <hr>
       <div>
        <% end %>
     
       
    </div>
</div>