<p id="notice"><%= notice %></p>
<h1><%= image_tag current_user.picture if current_user.picture.attached? %></h1>

<h1><%= current_user.name %></h1>

<% @favourited_products.each do |product| %>
  <%= link_to product_path(product) do %>
    <% image_tag (product.picture) %>
  <% end %>
<% end %>
