<div class="container">
    <div class="row">
        <h3>Favourites.</h3>
        <%= render "general/profile_container", user: current_user %>
        <%= render "general/product_grid", products: @favourited_products %>

    </div>
</div>