<div class="container">
    <div class="row">
        <h3>Followings.</h3>
        <% for profile in @following_profiles%>
        <%= render "general/profile_container", user: profile %>
        <%= render "general/product_grid", products: select_items(collection: profile.products, num_of_items: 3) %>
        <% end %>
    </div>
</div>