
<div class="container">
            <% @products.each do |product| %>
            <%= image_tag product.picture if product.picture.attached? %></td>
            <% end %>

            
<a class="nav-link"  ></a>
        <td><%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 </div>

 <%= link_to 'New Product', new_product_path %>

 
   </div>