.post-show{
    margin: 30px 5px 0;
    border: 1px solid #dbdbdb;
    padding: 100px;
    display: flex;
    /* height: 200px; */
    /* flex-shrink: initial; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 30vw; */
    /* border: 1px solid #c3c3c3; */
    width: 100%;
}
   
    
.main-image{
    padding:10px;
}