.my_board_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;

    .glyphicon-remove{
            color: #ecce36;
            left: 166px;
            }

            
            
}

.glyphicon-plus-sign{
           
    color: #ecce36;
    font-size: 38px;
}
.profile_container{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.my_board_follower{
    margin-bottom:10vw;
}

.my_board_profile{
    margin-right: 0;
 margin-left: 0;
 padding-top: 15px;
 padding-right: 10px;
 padding-left: 10px;
}


