
  // input[type="submit" i] {
  //   color: #f5f5f5;
  //   background-color: #464444;
  //   border-color: #464444;
  //   font-weight: 600;
  //   border: thick;
  //   width: 10vw;
  // }
  
  // MY ACCOUNT
.myaccount_box{
    display:flex;
    flex-direction: column;
}
.my_profile_container{
    display:flex;
    flex-direction: column;
}
.myprofile_box{
    display:flex;
    flex-direction: row;

}
.image_myboard{
    display: flex;
    flex-direction: column;
}

.adjusted_grid .wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}
.adjusted_grid .wrapper img{
    width: 200px;
    height: 200px;
}
// dont tell billy
.adjusted_following .wrapper{
  width: 92%;
  margin: 0 0 0 2%;
  display: flex;
  
}

// MY BOARD
.my_board_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;

  .glyphicon-remove{
          color: #ecce36;
          left: 166px;
          } 
          
}



.glyphicon {
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #e47878;
  font-size: 18px;
  left: 13px;
  position: absolute;
  top: 9px;
}
.plus .glyphicon-plus-sign{
  font-family: "Glyphicons Halflings";
  -webkit-font-smoothing: antialiased;
  color: #ecce36;
  font-size: 38px;
  float: right;
  display: block;
}

.my_board_follower{
 
  margin-bottom: 3vw;
  font-size: 20px;
  color: #e97979;
  font-weight: 600;
  display: block;
  float: left;
}
.my_board_donation{
  margin-bottom: 3vw;
  font-size: 20px;
  color: #8a6d3b;
  font-weight: 600;

}
.my_board_profile{
  margin-right: 0;
margin-left: 0;
padding-top: 15px;
padding-right: 10px;
padding-left: 10px;
}



.profile_container{
  flex-direction: column;
  display: flex;
  align-items: center;
}

.container .following img{
  width: 200px;
  height: 200px;
}

.followingline{
  border-top: 1px solid #fff8d4;
  
  border-width: 10px;
  margin: 0;
}

// SHOW

.statistics{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product_page{
display: flex;
flex-direction:row;
width: 100%;
font-size:12px;
}
.product_name_image{
  display:flex;
  flex-direction: column;
}

.product_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10vw;
}
.comments_box{
  display: flex;
  flex-direction: column;
  padding-left:0;
  font-size:10px;
}

.btn-link {
  border-color: beige;
  background-color: beige;
  color: darkblue;
  font-weight: 600;
}

.btn-outline-primary {
  color: #8a6d3b;
  background-color: transparent;
  background-image: none;
  border-color: #8a6d3b;
  margin: 0 8px 10px 8px;
}


