.product_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    justify-content: space-between;


    

}

.product_container{
       
        position: relative;

        

}
.product_image{
    margin:10px;
}

.glyphicon {
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #e47878;
    font-size: 18px;

}
