<div class="container">
    <div class="row">

    <h1>Editing Product</h1>
<br>
    <%= render 'form', product: @product %>
<br>
    <%= link_to 'Show', @product %> 
    <br>
    <%= link_to 'Back', products_path %>
    </div>
</div>
